= simple_form_for :round, url: game_rounds_path(game), method: :post do |f|
  = f.input :target,
              label: 'Player',
              collection: game.go_fish.players.reject { |player| player.name == user.username }.map(&:name),
              include_blank: false,
              label_html: { class: 'form-label' },
              input_html: { class: 'form-control form-control--small'},
              disabled: !game.is_current_player_turn?(user)
  = f.input :requested_rank,
              label: 'Rank',
              collection: game.find_player(user).ranks.map { |rank| "#{rank}s"},
              include_blank: false,
              label_html: { class: 'form-label' },
              input_html: { class: 'form-control form-control--small'},
              disabled: !game.is_current_player_turn?(user)
  = f.button :submit, 'Request',
              class: 'btn btn--primary btn--small',
              disabled: !game.is_current_player_turn?(user)